@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import 'tailwindcss';

html,
body {
    background-color: #000;
    color: #fff;
    padding: 1rem 3rem;
    /* font-family: 'Urbanist', sans-serif; */
    font-family: 'Outfit', sans-serif;
}
